body { 
    margin-top: 0px;
    background-color: rgb(21, 173, 255);
}

h1 {
    color: rgb(255, 0, 0);
    text: size adjust 80px; 
    font-size:50pt;
    font-weight: bolder;
    text-shadow: black;
}



header {
    background-color: rgb(25, 0, 255); 
    height: 250px;
    display: flex;
    justify-content: flex-start;

}

p a {
    margin-right: 60px;
    background-color: blueviolet;
    color: white;
    text-decoration: none;
    padding: 10px;
    border: 1px solid black;

}

a:hover{
    background-color: blue;
}

 img {
    margin-left: 100%;
    width: auto;
    height: 250px;
}

 .homebild{
    display: flex;
    justify-content: right;
    width: auto;
    height: 300px;

}

ul{
    background-color: rgb(160, 210, 243);
    padding: 1em;
}

.bruder{
    color: blue;
    

}


.kontakt{
display: flex;
justify-content: space-between;
font-size: 30p;
font-weight: bold;

}

.daten{
width: 60%;
background-color: aqua;
border: 1px;
}